@import url('./material-colors.css');
* {
    box-sizing: border-box;
}
body {
    background: var(--material-grey-50);
}

form.agregarSucursal {
    padding: 15px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.links-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

table {
    width: auto;
    overflow: hidden;
    border: 1px solid rgb(0 0 0 / 0.12);
    border-spacing: 0;
    table-layout: fixed;
    box-sizing: border-box;
    background: white;
    border-radius: 4px;
    box-shadow: var(--md-shadow--2dp);
}

    table tbody tr:first-child {
        height: 56px;
        border-top: 1px solid rgb(0 0 0 / 0.12);
    }

tr {
    border: 0px;
    height: auto;
    min-height: 56px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0 0 0 / 0.12);
}

td, th {
    border: 0px;
    padding: 9.5px 16px;
    min-height: 56px !important;
}

th {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-family: var(--mdc-typography-subtitle2-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-size: 0.875rem;
    font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem);
    line-height: 1.375rem;
    line-height: var(--mdc-typography-subtitle2-line-height, 1.375rem);
    font-weight: 500;
    font-weight: var(--mdc-typography-subtitle2-font-weight, 500);
    letter-spacing: 0.0071428571em;
    letter-spacing: var(--mdc-typography-subtitle2-letter-spacing, 0.0071428571em);
    text-decoration: inherit;
    -webkit-text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
    text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
    text-transform: inherit;
    text-transform: var(--mdc-typography-subtitle2-text-transform, inherit)
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}
.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}

.mdc-delete {
    background: #f44336 !important;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 28px;
    background: #404040;
    white-space: nowrap;
    color: white;
    font-size: 14px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 12px;
    gap: 15px;
}

    header .space {
        width: calc(100% - 30px);
    }

    header a {
        color: #90caf9;
        white-space: nowrap;
    }

        header a:hover {
            color: #bbdefb;
        }

        header a:active {
            color: #42a5f5;
        }

.mdc-text-field--outlined select.mdc-text-field__input {
    cursor: pointer;
}

.mdc-text-field--outlined .mdc-text-field__input {
    width: 100%;
    min-width: 50px;
}

.mdc-icon-button.smaller {
    padding: 6px;
    width: 36px;
    height: 36px;
    font-size: 24px !important;
}
.mdc-icon-button.smaller .material-icons {
    font-size: 24px !important;
}
tr * .mdc-icon-button.smaller {
    opacity: 0;
}
tr:hover * .mdc-icon-button.smaller {
    opacity: 1;
}
.mdc-icon-button.action {
    --mdc-ripple-color: var(--material-blue-400);
}

    .mdc-icon-button.action .material-icons {
        color: var(--material-blue-400) !important;
    }

    .mdc-icon-button.action::before, .mdc-icon-button.action::after {
        background-color: var(--material-blue-400);
    }

.mdc-icon-button.danger {
    --mdc-ripple-color: var(--material-red-400);
}

    .mdc-icon-button.danger .material-icons {
        color: var(--material-red-400) !important;
    }

    .mdc-icon-button.danger::before, .mdc-icon-button.danger::after {
        background-color: var(--material-red-400);
    }
.edititemtemplate-txtbox {
    height: 36px !important;
}
.page-roll {
    padding: 0px !important;
    min-width: 48px !important;
    width: 48px !important;
    height: 48px !important;
}
.page-roll input, .page-roll select {
    min-width: 100% !important;
    width: 100% !important;
    text-align: center !important;
}
/* Ocultar las flechas del input de tipo número */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.pager {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

}
.pager .pager-space {
    width: 100% !important;
}

.centered-form {
    padding-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.ejercicio1-grdview-form table {
    width: auto;
}
form.segundo-ejercicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 45px 15px 30px 15px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 12px 0px;
    width: auto;
    min-width: 300px;
    max-width: 500px;
    justify-content: flex-start;
    box-shadow: var(--md-shadow--2dp);
    background: white;
    border-radius: 4px;

}
.list .mdc-list-item {
    padding-top: 6px;
    padding-bottom: 6px;
}
.list .mdc-list-item__text {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 100%;
    height: 100%;
}
.list .mdc-list-item__text .__icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.list .mdc-list-item__text .__text {
    display: flex;
    flex-direction: column;

}
.__text span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cmn {
    color: var(--material-blue-500);
}
.dng {
    color: var(--material-red-500);
}


.NoProductsSection {
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.36;
    display: none;
}
.NoProductsSection span.material-icons {
    color: black;
    opacity: 0.6;
    font-size: 56px;
    padding-bottom: 24px;
}